a {
  padding: 5px 5px;
  display: inline-block;
}
.selected {
  border: solid 1px black;
}
a:not(.selected):hover {
  border-bottom: 1px solid black;
}

p {
  margin: 8px 5px;
  text-align: right;
}
input {
  width: 100px;
  outline: none;
}

.errors p {
  font-size: small;
  color: red;
}

#user {
  margin: 8px 5px;
  font-family: 'Caveat', cursive;
  font-size: larger;
}
