<section [ngSwitch]="hasAuth">
  <div *ngSwitchCase="false">
    <a (click)="authMode='sign-in'"
       [class.selected]="authMode === 'sign-in'">Вход</a>
    <a (click)="authMode='sign-up'"
       [class.selected]="authMode === 'sign-up'">Регистрация</a>
    <div [ngSwitch]="authMode">
      <!--Форма входа-->
      <app-sign-in *ngSwitchCase="'sign-in'"></app-sign-in>
      <!--Форма регистрации-->
      <app-sign-up *ngSwitchCase="'sign-up'"></app-sign-up>
    </div>
  </div>
  <div *ngSwitchCase="true">
    <p>
      login works for user info and out!
    </p>
  </div>
</section>
