<div class="pane" *ngIf="primaryNode" [ngSwitch]="viewState">
  <a (click)="defaultLayout()"
     style="text-decoration: underline">Введём</a>

  <div *ngSwitchCase="'menu'">
    <button (click)="viewState='type'">тип</button>
    <button (click)="refreshTypes(); viewState='variable'">переменную</button>
    <button (click)="refreshTypes(); viewState='sym'">отображение</button>
    <button (click)="viewState='axiom'">терм</button>
  </div>

  <form *ngSwitchCase="'type'" [formGroup]="type" (ngSubmit)="addType()">
     тип
    <input type="text" formControlName="typeName" placeholder="имя типа">
    <a (click)="addType()" class="sym" [class.dis]="!type.valid">&#x2B;</a>
    <button (click)="addType()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'variable'" [formGroup]="variable" (ngSubmit)="addVar()">
     переменную
    <input type="text" formControlName="varName" placeholder="имя переменной">
    типа
    <app-input-mt [group]="variable" [controlName]="'typeName'" [types]="mathTypes"></app-input-mt>
    <a (click)="addVar()" class="sym" [class.dis]="!variable.valid">&#x2B;</a>
    <button (click)="addVar()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'sym'" [formGroup]="sym" (ngSubmit)="addSym()">
     отображение
    <input type="text" formControlName="symName" placeholder="обозначение">
    &#58;
    <app-input-mt [group]="sym" [controlName]="'arg1Type'"
                  [types]="mathTypes"></app-input-mt>
    &#215;
    <app-input-mt [group]="sym" [controlName]="'arg2Type'"
                  [types]="mathTypes"></app-input-mt>
    &#215;
    <app-input-mt [group]="sym" [controlName]="'arg3Type'"
                  [types]="mathTypes"></app-input-mt>
    &#10230;
    <app-input-mt [group]="sym" [controlName]="'retType'"
                  [types]="mathTypes"></app-input-mt>
    <a (click)="addSym()" class="sym" [class.dis]="!sym.valid">&#x2B;</a>
    <button (click)="addSym()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'axiom'" [formGroup]="axiom" (ngSubmit)="addAxiom()">
     терм
    <input type="text" formControlName="axiom" placeholder="аксиома" class="term-input">
    <a (click)="addAxiom()" class="sym" [class.dis]="!axiom.valid">&#x2B;</a>
    <button (click)="addAxiom()" type="submit" style="display:none">hidden submit</button>
  </form>
</div>
<div class="pane" *ngIf="!primaryNode">
  Начать
  <form [formGroup]="branch">
    <select formControlName="nodeType">
      <option>курс</option>
      <option>раздел</option>
      <option>лекцию</option>
      <option>замыкание</option>
    </select>
    <input type="text" formControlName="title" placeholder="название">
    <button (click)="startNode()" type="submit" [disabled]="!branch.valid">ОК</button>
  </form>
</div>
