.pane * {
  display: inline-block;
}

a {
  font-size: xx-large;
  vertical-align: sub;
  margin-right: 6px;
}

a.dis {
  color: darkgray;
  pointer-events: none;
}

input[type="text"]:not(.term-input) {
  width: 75px;
}
.term-input {
  width: 500px;
}
