<div class="pane" *ngIf="viewState === 'initial'">
  <a (click)="viewState = 'menu'">&#x2B;</a>
</div>
<div class="pane" *ngIf="viewState !== 'initial'" [ngSwitch]="viewState">
  <a (click)="back()"
     style="color: darkgray">&#9675;</a>

  <div *ngSwitchCase="'menu'">
    <button (click)="viewState='type'">тип</button>
    <button (click)="viewState='variable'">переменная</button>
    <button (click)="viewState='sym'">отображение</button>
    <button (click)="viewState='axiom'">аксиома</button>
  </div>

  <form *ngSwitchCase="'type'" [formGroup]="type" (ngSubmit)="addType()">
    Объявить тип
    <input type="text" formControlName="typeName" placeholder="имя типа">
    <a (click)="addType()" [class.dis]="!type.valid">&#x2B;</a>
    <button (click)="addType()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'variable'" [formGroup]="variable" (ngSubmit)="addVar()">
    Ввести переменную
    <input type="text" formControlName="varName" placeholder="имя переменной">
    типа
    <select formControlName="typeName">
      <option *ngFor="let t of mathTypes" [ngValue]="t">{{t}}</option>
    </select>
    <a (click)="addVar()" [class.dis]="!variable.valid">&#x2B;</a>
    <button (click)="addVar()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'sym'" [formGroup]="sym" (ngSubmit)="addSym()">
    Ввести отображение
    <input type="text" formControlName="symName" placeholder="обозначение">
    &#58;
    <input type="text" formControlName="arg1Type" placeholder="тип">
    &#10230;
    <input type="text" formControlName="retType" placeholder="тип">
    <a (click)="addSym()" [class.dis]="!sym.valid">&#x2B;</a>
    <button (click)="addSym()" type="submit" style="display:none">hidden submit</button>
  </form>

  <form *ngSwitchCase="'axiom'" [formGroup]="axiom" (ngSubmit)="addAxiom()">
    Пусть
    <input type="text" formControlName="axiom" placeholder="аксиома" id="axiom">
    <a (click)="addAxiom()" [class.dis]="!axiom.valid">&#x2B;</a>
    <button (click)="addAxiom()" type="submit" style="display:none">hidden submit</button>
  </form>
</div>
