<form class="pane" [formGroup]="main">
  <div class="line" [ngSwitch]="viewState">
    <div *ngSwitchCase="'initial'">
      <a class="button init"
         (click)="viewState = 'menu'">&#43;</a>
    </div>
    <div *ngSwitchCase="'menu'" formGroupName="initial">
      <a class="button blur"
         (click)="viewState = 'initial'">&#43;</a>
      <button (click)="viewState='type'">тип</button>
      <button (click)="viewState='variable'">переменная</button>
      <button (click)="viewState='sym'">отображение</button>
      <button (click)="viewState='axiom'">аксиома</button>
    </div>
    <div *ngSwitchCase="'type'" formGroupName="type">
      <a class="button init"
         (click)="addType()">&#9675;</a>
      Объявить тип
      <input type="text" formControlName="typeName" placeholder="имя типа">
    </div>
    <div *ngSwitchCase="'variable'" formGroupName="variable">
      <a class="button init"
         (click)="addVar()">&#9675;</a>
      Ввести переменную
      <input type="text" formControlName="varName" placeholder="имя переменной">
      типа
      <input type="text" formControlName="typeName" placeholder="тип переменной">
    </div>
    <div *ngSwitchCase="'sym'" formGroupName="sym">
      <a class="button init"
         (click)="addSym()">&#9675;</a>
      Ввести отображение
      <input type="text" formControlName="symName" placeholder="обозначение">
      $\colon$
      <input type="text" formControlName="arg1Type" placeholder="тип">
      $\rightarrow$
      <input type="text" formControlName="retType" placeholder="тип">
    </div>
    <div *ngSwitchCase="'axiom'" formGroupName="axiom">
      <a class="button init"
         (click)="addAxiom()">&#9675;</a>
      Пусть
      <input type="text" formControlName="axiom" placeholder="аксиома">
    </div>
  </div>
</form>
