.pane * {
  display: inline-block;
}

a.sym{
  font-size: xx-large;
  vertical-align: sub;
  margin: -10px 0;
}

a.dis {
  color: darkgray;
  pointer-events: none;
}

input[type="text"]:not(.term-input) {
  width: 75px;
}
.term-input {
  width: 500px;
}

p {
  margin: 8px 0;
}
