<div [ngSwitch]="info.mlType">
  <div *ngSwitchCase="'named_node'">
    <a (click)="toSub()">
      {{info.body}}
    </a>
  </div>
  <div *ngSwitchCase="'def_type'">
    ({{info.label}}) Объявим тип ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_sym'">
    ({{info.label}}) Введём отображение ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_var'">
    ({{info.label}}) Пусть ${{info.body}}$
  </div>
  <div *ngSwitchCase="'term'">
    \[
    {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchCase="'InfMP'">
    \[
    \text{{"{Из " + pathToStr(info.premises[0]) +
           " по " + pathToStr(info.premises[1]) +
           " следует: }"}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchCase="'InfSpec'">
    \[
    \text{{"{Из "  + pathToStr(info.premises[0]) +
           " для " + pathToStr(info.premises[1]) +
           " получаем: }"}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchCase="'InfAppl'">
    \[
    \text{{"{Применив к "  + pathToStr(info.premises[0]) +
    " теорему " + pathToStr(info.premises[1]) +
    " получаем: }"}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchCase="'InfEql'">
    \[
    \text{{"{Применив к "  + pathToStr(info.premises[0]) +
    " равенство " + pathToStr(info.premises[1]) +
    " получаем: }"}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchDefault>
    {{info.body}}
  </div>
</div>
