<div [ngSwitch]="info.mlType">
  <div *ngSwitchCase="'named_node'">
    <a (click)="toSub()">
      {{info.body}}
    </a>
  </div>
  <div *ngSwitchCase="'def_type'">
    ({{info.label}}) Объявим тип ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_sym'">
    ({{info.label}}) Введём отображение ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_var'">
    ({{info.label}}) Пусть ${{info.body}}$
  </div>
  <div *ngSwitchCase="'axiom'">
    \[
    \text{{"{Пусть }"}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
  </div>
  <div *ngSwitchDefault>
    {{info.body}}
  </div>
</div>
