<div [ngSwitch]="info.mlType" [class.selected]="_selected"
     [class.unselected]="_unselected">
  <div *ngSwitchCase="'named_node'">
    <a (click)="toSub()">{{info.body}}</a>
  </div>
  <div *ngSwitchCase="'def_type'">
    ({{info.label}}) Объявим тип ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_sym'">
    ({{info.label}}) Введём отображение ${{info.body}}$
  </div>
  <div *ngSwitchCase="'def_var'">
    ({{info.label}}) Пусть ${{info.body}}$
    <app-inference-pane *ngIf="_selected"></app-inference-pane>
  </div>
  <div *ngSwitchCase="'term'">
    \[
    {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
    <app-inference-pane *ngIf="_selected"></app-inference-pane>
  </div>
  <div *ngSwitchCase="'inference'">
    <!--<app-formula *ngIf="_selected" [selected]="false"
                 [info]="asRef(formulasStorage.getByLabel(info.premises[0]))">
    </app-formula>
    <app-formula *ngIf="_selected" [selected]="false"
                 [info]="asRef(formulasStorage.getByLabel(info.premises[1]))">
    </app-formula>-->
    <div *ngIf="_selected" style="color: gray;">
      ({{formulasStorage.getByLabel(info.premises[0]).label}}):
      ${{formulasStorage.getByLabel(info.premises[0]).body}}$
    </div>
    <div *ngIf="_selected" style="color: gray;">
      ({{formulasStorage.getByLabel(info.premises[1]).label}}):
      ${{formulasStorage.getByLabel(info.premises[1]).body}}$
    </div>
    \[
    \text{{inferenceMess()}} {{info.body}}
    \tag{{'{'+info.label+'}'}}
    \]
    <app-inference-pane *ngIf="_selected"></app-inference-pane>
  </div>
  <div *ngSwitchDefault>
    {{info.body}}
  </div>
</div>
